.Shape {
  position: absolute;
  display: none;

  @include media($sm-up) {
    display: inline-block;
  }

  @include variant('red') {
    fill: $reddish;
  }

  @include variant('blue') {
    fill: $blue;
  }

  @include variant('yellow') {
    fill: $yellow;
  }

  @include variant('lila') {
    fill: $lila;
  }

  @include variant('green') {
    fill: $green-dark;
  }

  @include variant('green-light') {
    fill: $green-light;
  }

  @include variant('top-left') {
    top: rem(-20);
    left: rem(-20);
    @include media($sm-up) {
      top: rem(-40);
      left: rem(-40);
    }
  }

  @include variant('top-right') {
    top: rem(-40);
    right: rem(-40);
  }

  @include variant('bottom-left') {
    bottom: rem(-40);
    left: rem(-40);
  }

  @include variant('bottom-right') {
    bottom: rem(-40);
    right: rem(-40);
  }
}
