
.container {
  @include container(650);
}
.text-block {
  background: $background-primary;
  color: $base-font-color;
  font-family: $base-font-family;
  padding: rem(100) 0;

  .highlighted {
    position: relative;
    text-decoration: none;
    border-bottom: 2px dotted currentColor;
  }

  a {
    text-decoration: none;
  }

  .red {
    color: $reddish;
    &:hover, &:active {
      color: shade($reddish, 10%);
    }
  }

  .blue {
    color: $blue;
    &:hover, &:active {
      color: shade($blue, 10%);
    }
  }

  .green {
    color: $green-dark;
    &:hover, &:active {
      color: shade($green-dark, 10%);
    }
  }

  p {
    font-size: rem(20);
    font-weight: 100;
    color: $base-font-color;
    line-height: 1.2;

    &.intro {
      font-size: rem(24);
      font-weight: 200;
    }
  }

  .highlight {
    color: $lila;
  }
}
